#app {
    font-family: sans-serif;
}

#app .weather__app {
    width: 800px;
}

#app .weather__app .weather__h3 {
    padding: 0 10px;
}

#app .weather__app .weather__menu {
    float: left;
    width: 200px;
    min-height: 500px;
}

#app .weather__app .weather__menu .weather__menu_item-temperature,
#app .weather__app .weather__menu .weather__menu_item-precipitation {
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-indent: 3px;
    background: #ccc;
    margin: 5px;
    cursor: pointer;
}

#app .weather__app .weather__menu .weather__menu_item-temperature.active,
#app .weather__app .weather__menu .weather__menu_item-precipitation.active {
    background: green;
    cursor: auto
}

#app .weather__app .weather__years {
    float: left;
    width: 600px;
}

#app .weather__app .weather__years .weather__select {
    width: 200px;
    float: left;
    position: relative
}

#app .weather__app .weather__years .weather__select:nth-child(2):after {
    content: '(Включительно)';
    display: block;
    position: absolute;
    height: 20px;
    left: 79%;
    font-size: 12px;
    color: #444;
    top: 7px;
}

#app .weather__app .weather__years .weather__select .years_select {
    width: 150px;
    margin: 5px;
}

#app .weather__app .weather__graph {
    float: left;
    width: 600px;
}

#app .weather__app .weather__graph .canvas {
    width: 540px;
    height: 360px;
    margin: 5px;
}

#app .weather__app .weather__admin {
    position: absolute;
    right: 2px;
    top: 2px;
}

#app .weather__app .weather__admin .button {
    background: grey;
    cursor: pointer;
    padding: 3px;
    margin: 3px 0;
}